* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}

.counter {
    text-align: center;
}

a {
    color: white;
}

a:hover{
    background-color: black;
}

.form {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.submit {
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 2px;
}