<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
    <h1>Add a New Recipe!</h1>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert" role="alert">
                    <strong>Something went wrong!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div>
        <form action="/recipe/create" method="post">
            <label for="recipe_name">Recipe Name</label>
            <input type="text" name="recipe_name">
            
            <label for="description">Description</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
            
            <label for="instructions">Instructions</label>
            <textarea name="instructions" id="" cols="30" rows="10"></textarea>
            
            <div>
                <label for="date_made">Date Cooked/ Made</label>
                <input type="date" name="date_made">
            </div>
            
            <div>
                <p>Under 30 mins?</p>
                <input type="radio" id="yes" name="under_30" value="Yes">
                <label for="true">Yes</label>
                <input type="radio" id="no" name="under_30" value="No">
                <label for="false">No</label>
            </div>

            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <input type="submit" value="Submit">
        </form>
    </div>
    <p><a href="/home">back to recipes</a></p>
    <p><a href="/logout">Logout</a></p>
</body>
</html>