<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Recipe</title>
</head>
<body>
    <h1>Welcome, {{user.id}}</h1>
    <h2>{{recipe.name}}</h2>
    <h4>Posted by: {{recipe.user.id}}</h4>
    <div>
        <table>
            <div>
                <p>Description:</p>
                <p>{{recipe.description}}</p>

                <p>Under 30 min:</p>
                <p>
                    {% if recipe.under_30 == True: %}
                        Yes
                    {% else: %}
                        No
                    {% endif %}
                </p>

                <p>Instructions:</p>
                <p>{{recipe.instructions}}</p>

                <p>Date Made:</p>
                <p>{{recipe.date_made}}</p>

                <p>Made by:</p>
                <p>{{recipe.user.first_name}}</p>
            </div>
        </table>
    </div>
    <p><a href="/home">back to recipes</a></p>
    <p><a href="/logout">Logout</a></p>
</body>
</html>