<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>All Users</title>
</head>
<body>
    <h1>All Users:</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.full_name() }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>
                        <a href="/view/{{user.id}}">View</a>
                        <a href="/edit/{{user.id}}">Edit</a>
                        <a href="/delete/{{user.id}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <p><a href="/create">Add a New User</a></p>
    </div>
</body>
</html>